html {
  font-size: 16px;
}

#mainView {
  /*min-width: 600px;*/
  /*min-height: 337.5px;*/
  min-width: 700px;
  min-height: 393.75px;
}

@media (min-aspect-ratio: 16/9) {
  #content {
    height: 92%;
    margin: auto;
  }
}

@media (min-aspect-ratio: 16/9) {
  #mainView {
    height: 100vh;
    margin: auto;
  }
}

@media (max-aspect-ratio:15.999/9) {
  #mainView {
    width: 100vw;
    height: 100%;
    overflow-y: visible;
  }
}

@media (orientation: portrait) {
  #heading {
    font-size: 3vw;
  }
}

.btn:hover {
  transform: scale(1.2);
}

@media (max-aspect-ratio:15.999/9) {
  .pageTitle {
    font-size: calc(2.9vw + 0.4rem);
  }
}

@media (max-aspect-ratio:15.999/9) and (min-width:1921px) {
  .pageTitle {
    /*font-size: 4.21875vw;*/
  }
}

@media (min-aspect-ratio: 16/9) and (max-height: 415px) {
  .itemTitle {
    font-size: max(7vh,23.625px);
  }
}

@media (min-aspect-ratio: 16/9) and (min-height: 416px) {
  .itemTitle {
    font-size: calc(4vh + 1rem);
  }
}

@media (max-aspect-ratio:15.9999/9) {
  .actionbtn {
    font-size: calc(1.7vw + 0.4rem);
  }
}

@media (min-aspect-ratio:16/9) and (max-height: 415px) {
  .pageText {
    font-size: max(3.84vh, 12.96px);
  }
}

@media (min-aspect-ratio:16/9) and (min-height: 416px) {
  .pageText {
    font-size: calc(1.2vh + 1rem);
  }
}

@media (min-aspect-ratio:16/9) and (min-height: 1081px) {
  .pageText {
    /*font-size: 3.84vh;*/
  }
}

@media (max-aspect-ratio:15.999/9) {
  .pageText {
    font-size: calc(1.45vw + 0.4rem);
  }
}

@media (max-aspect-ratio:15.999/9) and (min-width: 1921px) {
  .pageText {
    /*font-size: 2.16vw;*/
  }
}

@media (min-aspect-ratio: 16/9) {
  #top-bar {
    height: 8%;
  }
}

@media (max-aspect-ratio: 15.999/9) {
  #top-bar {
    height: 10vh;
  }
}

@media (min-aspect-ratio: 16/9) and (min-height: 1081px) {
  .itemTitle {
    /*font-size: 5.5vh;*/
  }
}

@media (min-aspect-ratio: 16/9) and (min-height: 1081px) {
  .actionbtn {
    /*font-size: 4vh;*/
  }
}

@media (min-aspect-ratio: 16/9) and (min-height: 416px) {
  .actionbtn {
    font-size: calc(2vh + 1rem);
  }
}

@media (min-aspect-ratio: 16/9) and (max-height: 415px) {
  .actionbtn {
    font-size: max(5vh,16.875px);
  }
}

@media (max-aspect-ratio: 15.999/9) {
  .itemTitle {
    font-size: calc(2.9vw + 0.4rem);
  }
}

@media (max-aspect-ratio: 15.999/9) {
  .homebtn {
    width: calc(0.3rem + 1.5vw);
    height: calc(0.3rem + 1.5vw);
  }
}

@media (min-aspect-ratio: 16/9) and (max-height: 415px) {
  .homebtn {
    min-width: 15px;
    min-height: 15px;
  }
}

@media (min-aspect-ratio: 16/9) and (min-height: 1081px) {
  .homebtn {
    /*width: 3vh;*/
    /*height: 3vh;*/
  }
}

@media (min-aspect-ratio: 16/9) {
  .homebtn {
    width: calc(0.6rem + 2vh);
    height: calc(0.6rem + 2vh);
  }
}

@media (min-aspect-ratio:16/9) and (max-height: 415px) {
  .pageTitle {
    font-size: max(7.5vh, 25.313px);
  }
}

@media (min-aspect-ratio:16/9) and (min-height: 416px) {
  .pageTitle {
    font-size: calc(4vh + 1rem);
  }
}

@media (min-aspect-ratio:16/9) and (min-height: 1081px) {
  .pageTitle {
    /*font-size: 7.5vh;*/
  }
}

@media (min-aspect-ratio: 16/9) {
  .activityFrame {
    height: 100%;
    width: auto;
  }
}

.activityFrame {
  width: 100%;
}

@media (max-aspect-ratio:15.999/9) {
  body {
    overflow-y: visible;
  }
}

